@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

</head>
<body>
     <section class="w3-container w3-center w3-content" style="max-width:600px">
            <h2 class="w3-wide">iGO</h2>
            <p class="w3-opacity"><i>Travel Everyday</i></p>
        </section>
    
    <section>
        <img class="mySlides" id="img_logo" alt="Logo" src="@Url.Content("~/Content/Image/iGO.jpg")" style="width:100%;" />
    </section>
</body>
</html>